body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

h1 {
  color: #333;
}

h2 {
  color: #292ba492;
}

p {
  font-size: 1.1rem;
}

/* Navbar */
.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-link:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  color: white;
  font-size: 30px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #0077b5; /* LinkedIn blue or any color you want */
}